.profile {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  width: 300px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg);
  border-radius: 10px;
  box-shadow: var(--main-shadow);
}

.description {
  margin-bottom: 25px;

  text-align: center;
  color: var(--secondary);
}

.avatar {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  width: 150px;
  display: block;

  border-radius: 50%;
  box-shadow: var(--inset-shadow);
}

.name {
  margin-bottom: 7px;

  font-size: 28px;
  font-weight: 700;
  color: var(--accent);

  text-shadow: var(--main-shadow);
}

.tag {
  margin-bottom: 7px;
}

.tag,
.location {
  font-size: 18px;
  text-shadow: var(--main-shadow);
}

.stats {
  margin: 0 auto;
  padding: 10px;

  width: 100%;

  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  border-radius: 10px;
  box-shadow: var(--main-shadow);
}

.stats li {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33.333%;
  gap: 7px;
}

.label {
  font-weight: 500;
  color: var(--secondary);

  text-shadow: var(--main-shadow);
}

.quantity {
  font-weight: 700;
  color: var(--accent);

  text-shadow: var(--main-shadow);
}
