.transactionHistory {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;

  width: 350px;

  background-color: var(--bg);

  box-shadow: var(--main-shadow);
  border-radius: 10px;
}

.header {
  margin-bottom: 20px;

  width: 100%;
  display: block;

  box-shadow: var(--main-shadow);
  border-radius: 10px;
}

.headerRow {
  padding: 15px 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  /* flex-basis: 33.333%; */

  font-weight: 700;
  font-size: 24px;
  color: var(--accent);
  text-align: left;

  text-shadow: var(--main-shadow);
}

.body {
  width: 100%;
  display: block;
}

.bodyRow {
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: var(--main-shadow);
  border-radius: 10px;
}

.bodyValue {
  padding: 10px;

  flex-basis: 33.333%;

  font-weight: 500;
  color: var(--secondary);

  text-shadow: var(--main-shadow);
}
